.page
  display: flex
  align-items: center
  justify-content: center
  gap: 1.5rem

.connect-button
  width: 9rem
  height: 3rem
  border-radius: 3rem

  background-color: #1DB954

  font-size: 1.3rem
  line-height: 3rem
  font-weight: bold
  text-align: center

  box-shadow: 0px 0px red