@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap")
@import url("https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css")
@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css")

body, html
  margin: 0px
  padding: 0px

  color: #ffffff
  font-family: "Overpass", "Open sans", sans-serif
  user-select: none

  *
    -webkit-app-region: no-drag

header
  width: 100%
  height: 2rem

  position: absolute
  top: 0px
  left: 0px
  right: 0px

  background-image: linear-gradient(20deg, #0d5f2a, #17d459)

.icon
  min-width: 1.3rem
  min-height: 1.3rem
  font-size: 1.3rem
  line-height: 1.3rem

  text-align: center
  display: flex
  justify-content: center
  align-items: center

  .shadow
    color: #ffffff
    background: radial-gradient(#282828, #131313, #131313)
    background-size: contain