#app, body, html
  width: 100%
  height: 100%

.page
  width: 100%
  height: 100%

.window-control-actions
  display: flex
  position: absolute
  right: 0px
  top: 0px
  height: 2rem
  width: 8rem

  justify-content: space-evenly
  align-items: center

  .move-icon
    width: 1rem
    height: 1rem
    font-size: 1rem

    padding: 0.5rem
    margin: -0.5rem

    color: #000000
    -webkit-user-select: none
    -webkit-app-region: drag

  .cross-icon
    color: black
    width: 1rem
    height: 1rem

  .line-icon
    color: black
    width: 1rem
    height: 1rem

  .top-icon
    color: black
    width: 1rem
    height: 1rem