@import "Controller.animations"

.page
  position: absolute
  bottom: 0px
  left: 0px
  background-color: #131313
  display: flex
  flex-direction: column

  overflow-x: hidden


header
  display: flex
  align-items: center
  justify-content: start
  padding-top: 0.1rem

  .devices-icon
    width: 1.6rem
    height: 1.6rem

    padding-left: 0.3rem

    font-size: 1.3rem
    line-height: 1.3rem

.popup-background
  position: absolute
  top: 0px
  bottom: 0px
  left: 0px
  right: 0px

.devices-popup
  display: none

  position: absolute
  left: 0.55rem
  top: 2.3rem

  overflow-y: auto
  overflow-x: hidden

  border-radius: 0.5rem

  max-width: 12rem
  max-height: 11rem

  background-color: #282828
  box-shadow: 0px 0px 20px 0px black

  flex-direction: column

  .popup-description
    padding: 0.5rem
    padding-bottom: 0.1rem

    font-size: 0.9rem

    border-bottom-color: #ffffff
    border-bottom-style: solid
    border-bottom-width: 1px


  .popup-content
    display: flex
    flex: 1
    flex-direction: column
    justify-content: center

    gap: 0.5rem
    padding: 0.5rem

    .device-empty
      font-size: 0.9rem
      font-style: italic
      font-weight: lighter

    .device
      font-size: 0.8rem
      &.selected
        color: #1DB954

  &.is-opened
    display: flex

  &::-webkit-scrollbar
    width: 0.5rem
    margin-left: 0.5rem

  &::-webkit-scrollbar-thumb
    background-color: #898989
    border-radius: 0.5rem

  &::-webkit-scrollbar-track
    background-color: #282828

.song-image
  position: absolute
  width: 100%
  height: calc(100% - 5rem)
  top: 2rem
  bottom: 0rem
  left: 0px
  right: 0px

footer
  position: absolute
  left: 0px
  bottom: 0px
  right: 0px
  top: calc(100% - 3rem)

  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-evenly

  background-color: #282828
  box-shadow: 0px 0px 20px 0px black

  .shuffle
    font-size: 1rem
    line-height: 1rem

  .repeat
    font-size: 1rem
    line-height: 1rem

  .music-control-actions
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    width: 6.5rem
    font-size: 1rem
    line-height: 1rem