@keyframes device-popup-animation
  from
    transform: translateY(1rem)
    opacity: 0

  20%
    opacity: 0.10


  to
    transform: translateY(0rem)
    opacity: 1

@keyframes device-popup-children-animation
  from
    opacity: 0

  to
    opacity: 1


.devices-popup
  &.is-opened
    animation-name: device-popup-animation
    animation-duration: 350ms
    animation-fill-mode: forwards
  *
    animation-name: device-popup-children-animation
    animation-duration: 250ms
    animation-fill-mode: forwards